<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Candidate</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
            <div align="right">
            <button type="button" routerLink="/dashboard/candidate_add" class="btn btn-primary" style="border-radius: 0px;">
                <i class="material-icons" style="font-weight:bold;color:red">add</i>
              Add Candidate </button>

            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th>S.No.</th>
                <th>Candidate Name</th>
                <th>E-mail</th>
                <th>Mobile No.</th>
                <th>Group</th>
                <th>Reg. Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let candidate_data of candidatealldata;  let i = index">

                      <td><input type="checkbox"></td>
                      <td>{{i + 1 }}</td>
                      <td>{{ candidate_data.name }}</td>
                      <td>{{ candidate_data.email }}</td> 
                      <td>{{ candidate_data.mobile }}</td>
                      <td>{{ candidate_data.group }}</td>
                      <td>{{ candidate_data.timestamp.toDate()}}</td>
                      <td>
                          <a><i class="material-icons" style="color: red;" (click)="deletecandidate(candidate_data.id)">&#xe92b;</i></a>
                          <a routerLink="/dashboard/candidate_edit/{{candidate_data.id}}"><i class="material-icons" style="color: green;">&#xe923;</i></a>
                      </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
