<section  align="center" style="position: relative; top:100px;">
    <img src="../assets/admindashboard/images/importdata.png" width="159px" class="img-fluid">
      <h2>No Questions are available in question bank
    </h2>
    <p>Add questions to your question bank and associate them to vivid question types,<br>
        Multiple choice, Multiple response, True-false, Fill in the blanks,<Br>
        Match following, Match matrix.
        
        </p>
      <a routerLink="/dashboard/question_list" class="btn btn-outline-success" role="button">Add Question</a>

</section>

