<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body>
    <div class="row">
        <div class="col-sm-4">
            <select style="width:150px;padding:5px;">
                <option value="">Status</option>
                <option value="">aksahy</option>
            </select>&nbsp;
            <select style="width:150px;padding:5px;">
                    <option value="">Select Filter</option>
                    <option value="">aksahy</option>
                </select>
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4" align="right">
            <button><a routerLink="/dashboard/candidate_doc_add">Add</a></button>&nbsp;
            <button>Export</button>&nbsp;
            <button>:</button>
        </div>
    </div><br>
    <div class="container table-responsive" style="background-color: gainsboro;">
                    
        <table class="table table-striped">
          <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>S.No.</th>
              <th>Candidate Name</th>
              <th>E-mail</th>
              <th>Mobile No.</th>
              <th>Group</th>
              <th>Status</th>
              <th>Reg. Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox"></td>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>John</td>
              <td>Doe</td>
            </tr>
          </tbody>
        </table>
      </div>
</body>
</html>
