<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Question</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
            <div align="right">
            <button type="button" routerLink="/dashboard/question_add_chapter" class="btn btn-primary" style="border-radius: 0px;">Add Chapter</button>
              
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th>S.No.</th>
                <th>Chapter Name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cha_data of chapteralldata">
                      <td><input type="checkbox"></td>
                      <td></td>
                      <td>{{ cha_data.chapter_name }}</td> 
                      <td>
                          <a><i class="material-icons" style="color: red;" (click)="deletechapter(cha_data.id)">&#xe92b;</i></a>
                          <a><i class="material-icons" style="color: green;">&#xe923;</i></a>
                      </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
  