<table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author Name</th>
                <th>Download Book</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let b_data of bookalldata">
                <td>{{ b_data.bookname }}</td>          
                <td>{{ b_data.authur }}</td>
                <td><a href="{{b_data.image}}" download="downloaded filename">download</a></td>
                <td>{{ b_data.timestamp.toDate()}}</td>
                <td><a routerLink="/ad_dashboard/crud-edit-data/{{b_data.id}}">Update</a></td>
                <td><button (click)="deletebook(b_data.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
