<section  align="center" style="position: relative; top:100px;">
    <img src="../assets/admindashboard/images/importdata.png" width="159px" class="img-fluid">
      <h2>Import candidate data from an excel sheet</h2>
    <p>The user can add multiple candidates using an excel file.<br>
      The excel will include the list of entities required for the initial<br> registration of the candidate.</p>
      <a routerLink="/dashboard/Upload_Candidate_data_file" class="btn btn-outline-success" role="button">Import</a>

</section>

