<section  align="center" style="position: relative; top:100px;">
    <img src="../assets/admindashboard/images/importdata.png" width="159px" class="img-fluid">
      <h2>Import questions from an excel sheet to the question bank.

    </h2>
    <p>The questions in the excel sheet should be in accordance to the<br>
         sample file, or else the field changes has to be mapped against<br> the respective entity.

        
        </p>
      <a routerLink="" class="btn btn-outline-success" role="button">Import</a>

</section>

